.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #eff5f9;
    margin-left:250px;
}

.header-board{
    margin-top: 100px;
    margin-left: 280px;
    font-size: 40px;
    color: #3498db;
    font-weight: bold;
    border-radius:5px
}


.new-task-button{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 20px;
    margin-left: 280px;
    background-color:rgba(248, 12, 99, 0.8);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color:#fff
}



.board-column {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 500px;
    margin: 0 10px;
}


.contact-initials-board {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: -5px;
  }

  .assigned-contacts {
    list-style-type: none;
    padding: 0;
  }
  
  .assigned-contacts li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

.column-title {
    margin-bottom: 10px;
    text-align: center;
    color:  #3498db;
    font-weight: bold;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    background-color: #eff5f9;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.task-title {
    font-weight: bold;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    color:#222;

}

.task-content {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.add-button {
    display: flex;
    align-items: center;
    color:#0e2941;
  }
  
  .add-text {
    margin: 0 0 0 5px;
  }


.priority-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.priority-button.urgent {
    background-color: #f44336;
    color: white;
}

.priority-button.medium {
    background-color: #ffc107;
}

.priority-button.low {
    background-color: #4caf50;
    color: white;
}

.assigned-contacts-board {
    list-style-type: none;
    padding: 0;
    display: flex;
  }


@media screen and (max-width: 1024px) {
    .kanban-board {
        flex-direction: column; 
        align-items: center; 
        padding: 20px 10px; 
        margin-left: 20px;
    }

    .board-column {
        margin: 0; 
        margin-bottom: 20px; 
        width: 90%; 
        max-width: none; 
    }

    .header-board {
        margin-left: 50px;
    }

    .new-task-button {
        margin-left: 50px;
    }
}