.contact-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

h1 {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.header-divider {
  width: 1px;
  height: 30px;
  margin: 0 10px;
  background-color: #003B46;
}

.header-text {
  font-size: 1.0em;
  color: #003B46;
}

.contact-header {
  display: flex;
  margin-left: 300px;
  margin-top: -80px;
  align-items: center;
}

.contact-list-container {
  display: flex;
  margin-top: 140px;
      flex-direction: column;
}

.contactlist-list {
  width: 300px;
  border-right: 1px solid #ddd;
  margin-left: 300px;
  height: calc(100vh - 140px); /* Berechnet die Höhe basierend auf dem Abstand zum oberen Rand */
  overflow-y: auto; /* Macht die Kontaktliste scrollbar */
}

.contact-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-item:hover, .contact-item.selected {
  background-color: #f0f0f0;
}

.contact-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
  font-weight: bold;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.contact-name {
  font-weight: bold;
}

.contact-name-big {
  font-size: 2em;
}

.contact-initials-big {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 20px;
  font-weight: bold;
  font-size: 2em;
}

.contact-email {
  color: #555;
}

.contact-details {
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.contact-details-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-add-task {
  color: #555;
  cursor: pointer;
  margin:0px;
}

.letter-header {
  font-size: 1.5em;
  margin: 10px 0;
}

hr {
  width: 90%;
  align-self: center;
}

.header-divider-line {
  width: 100%;
  margin-top: 10px;
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  unicode-bidi: isolate;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.info-box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.h3-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-box {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-list-container {
    margin-top: 50px;
}

  .contact-header {
    margin-left: 10px;
    margin-top: 20px;
  }

  .contactlist-list {
    margin-left: 10px;
    width: calc(100% - 20px);
    border-right: none;
    margin-bottom: 10px;
  }

  .contact-details {
    width: calc(100% - 20px);
    margin-left: 10px;
  }

  .back-button-container {
    display: flex;
    justify-content: flex-end; /* Verschiebt den Inhalt nach rechts */
  }
  
  .back-button {
    font-size: 30px; /* Größe des Icons */
    color: #003B46; /* Farbe des Icons */
    cursor: pointer; /* Zeigt an, dass es anklickbar ist */
  }
}

@media screen and (max-width: 1024px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-list-container {
    margin-top: 50px;
}

  .contact-header {
    margin-left: 10px;
    margin-top: 20px;
  }

  .contactlist-list {
    margin-left: 10px;
    width: calc(100% - 20px);
    border-right: none;
    margin-bottom: 10px;
  }

  .contact-details {
    width: calc(100% - 20px);
    margin-left: 10px;
  }

  .back-button-container {
    display: flex;
    justify-content: flex-end; /* Verschiebt den Inhalt nach rechts */
  }
  
  .back-button {
    font-size: 30px; /* Größe des Icons */
    color: #003B46; /* Farbe des Icons */
    cursor: pointer; /* Zeigt an, dass es anklickbar ist */
  }
}










