
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgba(248, 12, 99, 0.8);           
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .footer {
      position: relative;
      margin-top: 20px;
      }
  }

  @media (min-width: 768px) and (max-width: 1024px){
    .footer {
      position: relative;
      }  
  }