.impressum-container {
    margin-top: 10%;
    margin-left: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    margin-right: 20px;
    border-radius: 5px;
  }

  .h1-impressum{
    font-size: 40px;
    color: #3498db;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: -10px;
  }

  
  .h2-impressum{
    color:#555;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }

  
  .impressum-container h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .impressum-container p {
    margin-bottom: 10px;
  }
  
  .impressum-container a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .impressum-container a:hover {
    text-decoration: underline;
  }
  

@media screen and (max-width: 1024px) {

  .impressum-container{
    margin-left:50px;
  }

}

