.main-container {
    display: flex;
  }
  
  .navbar {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .ListItem {
    transition: background-color 1.3s ease;
  }
  

  .selected {
    background-color: rgba(52, 152, 219, 0.43) !important; 
    width: 85% !important;
    border-top-right-radius: 12px !important; 
    border-bottom-right-radius: 12px !important; 
    margin-left: auto; 
    font-weight: bold !important; 
}

.css-bshv44-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: rgb(25 118 210 / 43%);
}

.title-task{
  color:#fff;
  display: contents;
  font-size: 1em;
}

.title-task-container {
  top: 50%;
  left: 50%;
  display: flex;
}

.vertical-line {
  width: 1px;
  background-color: #3498db;
  margin: 0 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #3498db;
  justify-content: center;
  width: 100%;
  align-content: center;
}

.text-container .subtitle {
  font-size: 0.75rem; 
  font-weight: normal; 
}

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 30px;
    margin-top: 10px;
  }
  
  .navbar-logo {
    margin-top: -20%;
    color: #fff;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

  }

  .css-10hburv-MuiTypography-root {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
    color: #f1f4f7;
}
  

  .menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }


  /* Dark Mode Styles - kommt noch*/
  .dark-mode .list-item-icon .fa-icon,
  .dark-mode .navbar-icon {
    color: #fff;
  }
  
  .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-image  {
       width: 100;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-picture {
    width: 60px; 
    height: auto; 
    margin-top: 0; 
}
  
  .light-mode .MuiDivider-root {
    width: 90%;
    align-self: center;
  }
  
  .dark-mode .MuiDivider-root {
    background-color: #bbb; 
    width: 90%;
    align-self: center;
  }
  
  /* Placeholder text color for dark mode */
  .dark-mode .search-input::placeholder {
    color: #fff;
  }
  .profile-initials {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.contact-initials-nav{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: -5px;
  order: 2;
}

  
  .logout-icon {
    margin-left: 10px;
    color:  #fff;
      
  }
  
  .css-vrk4dv {
    padding: 16px;
    text-align: center;
    margin-top: 70px;
    
  }

  .drawer-paper {
    width: 250px;
    border-right: none;
   box-shadow: 10px;
  }
  
  .mobile-drawer .MuiPaper-root {
    background-color: #08223d;
    top: 0px;
  }
  
 /* Hinzufügen eines roten Kreises um die Benachrichtigungszahl */
 .notification-icon, .calendar-icon {
  margin-right: 20px;
  padding: 13px;
  color: #0e2941;
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 50%;    
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.notification-icon:hover, .calendar-icon:hover, .user:hover {
  background-color: #3498db; 
}

.calendar-container {
  position: relative; 
}

/* Stil für das Kalender-Icon */
.calendar-icon {
  display: inline-block;
}

/* Kalender-Container, der direkt unter dem Icon angezeigt wird */
.calendar-dropdown {
  position: absolute; 
  top: 60; 
  right: 7;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  z-index: 1000; 
  max-width: 300px; 
}

/* Stil für die Kalender-Komponente */
.react-calendar {
  background-color: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}


.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white; 
  border-radius: 50px; 
  padding: 3px 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}


.user-name{
  margin-left: 20px;
  color:#0e2941;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}

.dropdown-arrow-profile {
  position: absolute;
  top: -10px;
  right: 50px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dropdown-item span {
  margin-left: 10px; 
}

.profile-dropdown {
  position: absolute;
  top: 65;
  background-color: white;
  border-radius: 8px;
  padding: 10x;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    margin-right: 0px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}


.notification-count {
  position: absolute;
  top: -5px; 
  right: -10px; 
  background-color: red;
  color: white; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem; 
  font-weight: bold;
  margin-right: 10px;
}


.css-qc420c-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  margin-top: 8px;
  color:#f1f4f7;
}
  
  .dark-mode .navbar {
    background: #222428;
  }
  
  .dark-mode p {
    color: #fff;
  }
  
  .dark-mode .search-form {
    background-color: #222428;
  }
  
  .dark-mode .search-input {
    background-color: #222428;
    color: #fff;
  }
  
  .dark-mode .search-button {
    background-color: #888;
  }
  
  .dark-mode .drawer-paper {
    background-color: #222428;
    color: #fff;
  }
  
  .dark-mode .mobile-drawer .MuiPaper-root {
    background-color: #222428; 
  }

  .css-r40f8v-MuiTypography-root {
    display: flex;
    align-items: center;
    justify-content: center;
}


.notification-dropdown {
  position: absolute;
  top: 60;
  right: -11;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-arrow {
  position: absolute;
  top: -10px;
  right: 23px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.dropdown-header {
  text-align: center;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.notification-item {
  /* padding: 10px; */
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.notification-content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}


.no-notifications {
  text-align: center;
  padding: 20px;
  color: #757575;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-top: 1px solid #e0e0e0; 
  padding-top: 10px; 
}

.view-all {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  background-color: #f5f5f5;
}

.view-all button {
  background-color: #28a745;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.view-all button:hover {
  background-color: #218838;
}


.text-dropdown{
  color:#555;
}

.notification-box MuiBox-root css-1qm1lh {
  margin-bottom: 16px;
  font-size: 14px;
}

.css-7ik032-MuiDrawer-docked {
  background-color:#262c48;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  z-index: 1000;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: linear-gradient(to bottom, #08223d, #08223d);
}

.media-logo{
  display: none;
}
  
@media (min-width: 768px) and (max-width: 1024px){
    .nav-text {
      display: none;
    }

    .media-logo{
      display: flex;
      background-color: #08223d;
      padding: 10px;
      margin-top:20px;
      border-radius:50px;
      margin-left: 10px;

    }
    .task-logo {
      display: block;
      top: 10px;
      right: 10px;
      width: 40px; 
      height: auto;
    }
  
    .drawer {
      display: none;
    }
  
    .mobile-drawer {
      display: block;
    }
  
    .css-vrk4dv {
      margin-top: 30px;
    }
  
    .search-form {
      display: none;
    }
  
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: -20px;
    }
  
    .navbar-logo {
      flex: 1;
      margin-top: 10px;
    }
  
    .menu-icon {
      display: block; 
      order: 3;
      padding: 10px;
    }
  
    .notification-icon {
      order: 0;
    }

  }
  


  @media (max-width: 768px) {
    .mobile-drawer {
      display: block;
    }
  
    .media-logo{
      display: flex;
      background-color: #08223d;
      padding: 10px;
      margin-top:20px;
      border-radius:50px;
      margin-left: 10px;

    }
    .task-logo {
      display: block;
      top: 10px;
      right: 10px;
      width: 40px; 
      height: auto;
    }

    .drawer {
      display: block;
    }
  
    .menu-icon {
      display: block; 
      order: 3;
      padding: 10px;
    }
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: -20px;
    }
  }
  