/* Summary.css */

.summary-wrapper {
    display: flex;
    justify-content: flex-start;
}

.summary-greeting {
    padding: 20px;
    text-align: center;
    margin-top:140px;
    margin-left:300px;
border-radius: 5px;
margin-right: 20px;
 color: #333;
}


.summary-container {
    padding: 20px;
    text-align: center;
    margin-top:100px;
border-radius: 5px;
margin-right: 20px;
 color: #333;
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.summary-item {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: inherit; /* Übernimmt die Textfarbe vom übergeordneten Element */
}

.summary-item:hover {
    transform: scale(1.05); /* Vergrößern beim Überfahren */
    background-color: #003B46; /* Blaue Hintergrundfarbe */
    color:#fff;
  }

.summary-item.urgent {
    background: rgba(248, 12, 99, 0.8);
}

.summary-number {
    display: block;
    font-size: 30px;
    font-weight: bold;
}

.summary-label {
    display: block;
    margin-top: 10px;
}

.summary-deadline {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.react-calendar {
    width: 100%;
    max-width: 600px;
    background-color: white;
    border: 1px solid #a0a096;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .calendar-mark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcc00;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  

@media (min-width: 768px) and (max-width: 1024px){
    .summary-container {
        padding: 20px;
        text-align: center;

        margin-left:20px;
    }

    .summary-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
 
    }

    .summary-greeting {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px; 
      }
    
      .react-calendar {
        width: 100%;
      max-width: 500px;
        margin: 0 auto;
      }
  }

  @media ( (max-width: 768px)){

    .summary-greeting {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0px; 
      }
    
      .react-calendar {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
      }

    .summary-container {
        padding: 20px;
        text-align: center;

        margin-left:20px;
    }


    .summary-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
 
    }
  }